a{
    font-size:32px;
    margin-right: 15px;
    display: block;
}

.header a {
    display: inline;
    color: aqua;
    font-size: 45px;
   border: solid 1px rgb(147, 135, 222);
    padding: 10px;
}
.header{
 margin-bottom: 30px;
}