#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: azure;
  border: solid 1px rgb(147, 135, 222);
}
.light{
  background-color: rgb(250, 246, 246);
}
.dark{
  background-color: blueviolet;
}




